*.a
*.la
*.o
*.lo
*.dylib
*.dll
*.so
Makefile
config.h
config.log
config.status
libtool
objdir
stamp-h1
lib
include/Makefile
src/Makefile
src/parsevtt/Makefile
src/libwebvtt/Makefile
src/parsevtt/.deps/
src/parsevtt/parsevtt
test/unit/node_modules/
