* text=auto

Makefile text eol=lf
*.md text eol=lf
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
*.vcxproj.user text eol=crlf
*.c text eol=lf
*.h text eol=lf
test/spec/*/*.test -text